# Dependency directories
node_modules/
jspm_packages/
package-lock.json
yarn.lock

# Build outputs
dist/
.output/
.nuxt/
.nitro/
.cache/
.temp/
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.production
.env.staging
backend/.env
backend/.env.production
backend/.env.staging
frontend/.env
frontend/.env.production
frontend/.env.staging

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Project specific
elasticsearch/
minio/
redis-server/
dump.rdb
start/
data/
*.log

# Docker
.docker/

# Backend
/backend/scratch

# OCR Service
/ocr-service/uploads
/ocr-service/ocr_service.db*
/ocr-service/__pycache__*
/ocr-service/scratch